.food-search-form{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.food-search-form input{
    width: 40%;
    padding: 1rem 1rem 1rem 0.5rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid;
}